<% content_for :title, "Stopwatch | Clip" %>

<h1>Stopwatch</h1>
<p>Start a stopwatch in one window and see it running in another.</p>

<div>
	<button class="create-stopwatch-button">New stopwatch</button>
</div>

<% @stopwatches.each do |stopwatch| %>
	<div class="stopwatch stopwatch-<%= stopwatch.id %>">
		Lap: <span class="time lap-time lap-time-<%= stopwatch.id %>"><%= stopwatch.lap_total_at_last_pause %></span>
		<button class="destroy-stopwatch-button close-button">X</button>
		<br />
		<span class="time time-<%= stopwatch.id %>"><%= stopwatch.total_at_last_pause %></span>
		<br />
		<button class="pause-button">Start</button>
		<button class="lap-button">Lap</button>
		<div class="laps">
			<!-- This should probably be a list instead -->
			<span class="lap">Lap 3: 01:23</span>
			<hr>
			<span class="lap">Lap 2: 01:23</span>
			<hr>
			<span class="lap">Lap 1: 01:23</span>
			<hr>
			<% stopwatch.laps.each do |lap| %>
				<span class="lap">Lap 4: 99:99</span>
				<hr>
			<% end %>
		</div>
	</div>
<% end %>