<% content_for :title, "Stopwatch | Clip" %>

<h1>Stopwatch</h1>
<p>Start a stopwatch in one computer and see it running in another.</p>

<form name="create-stopwatch" action="/stopwatch/create" method="post">
	<input type="submit" value="New stopwatch">
</form>

<% @stopwatches.each do |stopwatch| %>
	<div class="stopwatch stopwatch-<%= stopwatch.id %>">
		<!-- While HTTP supports GET, POST, PUT, and DELETE, HTML only supports GET and POST. -->
		<form name="destroy-stopwatch-<%= stopwatch.id %>" action="/stopwatch/destroy/<%= stopwatch.id %>" method="post">
			Lap: <span class="time lap-time lap-time-<%= stopwatch.id %>"><%= stopwatch.lap_total_at_last_pause %></span>
			<input class="close-button" type="submit" value="X">
			<br />
			<span class="time time-<%= stopwatch.id %>"><%= stopwatch.total_at_last_pause %></span>
			<br />
			<button type="button" class="pause-button">Start</button>
			<button type="button" class="lap-button">Lap</button>
			<div class="laps">
				<!-- This should probably be a list instead -->
				<span class="lap">Lap 3: 01:23</span>
				<hr>
				<span class="lap">Lap 2: 01:23</span>
				<hr>
				<span class="lap">Lap 1: 01:23</span>
				<hr>
				<% stopwatch.laps.each do |lap| %>
					<span class="lap">Lap 4: 99:99</span>
					<hr>
				<% end %>
			</div>
		</form>
	</div>
<% end %>